// Resources config for Quadram Institute Bioscience (QIB)


executor {
    name = "slurm"
    queueSize = 200
    pollInterval = '5sec'
    queueStatInterval = '5sec'
}

process {
    
    shell = ['/bin/bash', '-euo', 'pipefail']
    // clusterOptions = "--partition=nbi-short,qib-short --constraint=intel"
    clusterOptions = "--partition=big,main"
    // conda = '/home/ubuntu/miniconda3/envs/artic-debug'
    conda = '/home/ubuntu/miniconda3/envs/artic-debug2'
    // errorStrategy = {task.exitStatus in [143,137,104,134] ? 'retry' : 'ignore' }
    errorStrategy = 'retry'

    maxRetries = 5
    
    withLabel: largecpu {
        cpus = 8
    }
    // withName: barcodeToCOG {
    //   conda = '/home/ubuntu/miniconda3'
    // }
    
}

tower {
  accessToken = 'eyJ0aWQiOiAzMTI3fS4xZWM5MjUzNTQyMzNkNjgxMjhiNGRiM2U1ZGZmY2Y4ZDVhMjNjMTZi'
  enabled = true
}