// Resources config for Quadram Institute Bioscience (QIB)

process {
    
    executor = "slurm"
    // clusterOptions = "--partition=nbi-short,qib-short --constraint=intel"
    clusterOptions = "--partition=main,big-mem,gpu"
    withLabel: largecpu {
        cpus = 8
    } 
    
}

tower {
  accessToken = '2050601efdaaead6787610c03076a414800805a9'
  enabled = true
}