// base specific params

params{
    // Boilerplate to keep nextflow happy about undefined vars
    //Send Sequence Analysis result to discord?
    send_discord = false
    //Send variant typing result to discord?
    typing_discord = false
    
    directory = false
    prefix = false
    basecalled_fastq = false
    fast5_pass = false
    sequencing_summary = false
    ref = false
    bed = false

    gff = "${projectDir}/assets/MN908947.3.gff"
    
    yaml = "${projectDir}/assets/SARS-CoV-2.types.yaml"

    // Typing frequency threshold to call aa consequences of variant. Set to ivarFreqThreshold for consistency with consensus
    csqAfThreshold = 0.75

    // Minimum coverage depth to call aa consequences of variant. Set to ivarMinDepth for consistency with consensus
    csqDpThreshold = 10

    // Repo to download your primer scheme from
    schemeRepoURL = 'https://github.com/artic-network/artic-ncov2019.git'

    // Directory within schemeRepoURL that contains primer schemes
    schemeDir = 'primer_schemes'

    // Scheme name
    scheme =  'nCoV-2019'

    // Scheme version
    schemeVersion = 'V4'

    // Fix bed file
    fixBed = true

    // Run experimental medaka pipeline? Specify in the command using "--medaka"
    medaka = false

    // Run Illumina pipeline
    illumina = false
 
    // Run nanopolish pipeline
    nanopolish = false

    // Upload data to CLIMB?
    upload = false

    // CLIMB username
    CLIMBUser = 'climb-covid19-testuser'

    // CLIMB SSH pubkey
    CLIMBkey = '/home/climb-covid19-testuser/.ssh/id_rsa'

    // CLIMB hostname
    CLIMBHostname = 'bham.covid19.climb.ac.uk'
}
