// Nanopore specific params

params {
    barcode_lookup = null
    
    lib_name = params.prefix
    //Is input CoronaHiT data ?
    coronahit = false
    
    useGuppyPlex = false
    // Minimum fastq files per barcode to consider for running
    minFastqFiles = 1
    // Minimum read length for artic guppyplex
    min_length = 400

    // Maximum read length for artic guppyplex
    max_length = 700

    // Set to an integer to enable normalising in artic minion
    // IF SET TO false THIS WILL USE artic minion DEFAULT (100)
    normalise = 500
    // normalise = 500
    // Use bwa not minimap2? Specify in the command using "--bwa"
    bwa = false

}
                