report: CIVET
sequencing-centre: NORW # the header to use
title: Cluster investigation
query: combined.csv
fasta: combined.fasta
table_fields: [uk_lineage, phylotype, lineage, name,sample_date,collecting_org,bio_id]
tree_fields: [sample_date]
label_fields: [bio_id]
node_summary: lineage
collapse_threshold: 1
safety_level: 0
datadir: /mnt/civet-cat