report: CIVET
sequencing-centre: NORW # the header to use
title: Cluster investigation
query: combined.csv
fasta: combined.fasta
table_fields: [uk_lineage, phylotype, lineage, name]
tree_fields: [uk_lineage, phylotype, lineage]
label_fiels: [uk_lineage, phylotype, lineage,name]
node_summary: lineage
safety_level: 0
collapse_threshold: 1
datadir: /mnt/civet-cat
